/* LoginPage.css */

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  background: #FFF9F9;
  max-height: 100vh;
  padding: 31px;


}


/* 
.login-page h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
} */





.login-back{
  background-image: url(../../assets/circles_bg.svg);
  height: 720px;
  width: 624px;
}
#TaskView{
  height: 655px;
  margin-inline-start: 183px;
  margin-top: 46px;
}



.login-box{
  width: 614px;;
  padding-inline-end: 187px;
}
/* #googlelogo{
  height: 23px;
} */

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292929;
  color: white;
  border: 1px solid #ddd;
  border-radius: 14.91px;
  padding: 10px 20px;
  margin-top: 23px;
  font-size: 16px;
  width: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.google-login-button:hover {
  background-color: #f7f7f7;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-login-button img {
  width: 20px; /* Adjust the size of the logo */
  height: 20px;
  margin-right: 10px; /* Space between the logo and the text */
}

.google-login-button:active {
  background-color: #eee;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .login-page h2 {
    font-size: 1.5rem;
  }

  .login-page button {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
  }
}
