.add-task {
  width: 100%;
  max-width: 600px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}


.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #7c2d2d;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.form-groupa {
  margin-bottom: 20px;
}

.form-groupb {
  margin-bottom: 20px;
  display: flex;
}

.form-input,
.form-textarea,
.form-select,
.file-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 12px;
  gap: 10px;
}

.form-textarea {
  resize: none;
  height: 80px;
}

.btn-group {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.btn {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background: none;
  width: 79px;
  border-radius: 54px;
  cursor: pointer;
}

.btn.active {
  background: #7B1984;
  color: white;
  border-color: #007bff;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
  background: #F1F1F1;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #0000001A;
}

.form-btn {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background: none;
  width: 79px;
  border-radius: 54px;
  cursor: pointer;
}

.cancel-btn {
  background: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
}

.create-btn {
  background: #7B1984;
  color: white;
  border: none;
}

.create-btn:disabled {
  background: #6c757d;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .add-task {
    width: 90%;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .modal-header h2 {
    font-size: 1.2rem;
  }

  .add-task {
    width: 90%;
    padding: 0;
  }

  .add-task-button {

    align-self: flex-start;
    padding: 10px 1px;
    margin-inline-start: -39px;
    width: 130px;
    position: relative;
    bottom: 29px;
  }

  .form-groupb {
    margin-bottom: 20px;
    display: inline;
  }
}